.container {
  display: flex;
  width: 400px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #d7d1d1;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.container span {
  font-size: 0.8rem;
  color:rgb(48, 74, 13)
}
