.container {
  position: sticky;
  bottom: 0;
  background-color: #444c41e2;
  height: 120px;
  width: 100vw;
}

.container button {
  width: 150px;
  height: 50px;
  border: 0;
  margin: 20px auto 10px;
  display: block;
  background-color: #eaca26;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  color: #47575d;
}

.container p {
  font-size: 1.3rem;
  font-weight: bold;
  display: block;
  text-align: center;
}

.chartsLink {
  position: absolute;
  right: 5px;
  text-decoration: none;
  color: #d6e4ef;
  border: 1px solid #d6e4ef;
  padding: 5px;
  bottom: 10px;
  border-radius: 5px;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
}

.container .reset_btn {
  position: absolute;
  width: 100px;
  left: 20px;
  bottom: 0;
  height: 40px;
  font-weight: normal;
}
