@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=IM+Fell+French+Canon+SC&display=swap');

.container {
  height: 100vh;
  margin: auto;
  position: relative;
  background-image: url("./images/bg2.jpeg");
  background-size: cover;
  width: 100%;
}

.title {
  position: fixed;
  bottom: 15px;
  padding:15px;
  width: 100vw;
  background-color: rgb(67 80 38) ;
  opacity: 0.88;
  left: 0;
  color: #dde8d2;
  z-index: 1;
  font-family: "IM Fell French Canon SC", serif;
}

.title h1 {
  text-transform: uppercase;
    font-size: 4vw;
    font-weight: bold;
    padding: 10px 20px 0px;
}
.title h3 {
  text-transform: capitalize;
    font-size: 2.5vw;
    font-weight: bold;
    padding: 0px 20px;
}
.title h5 {
  text-transform: capitalize;
    font-size: 2.2vw;
    padding: 10px 20px;
}

.title h5 {
  animation: slideIn 1s ease-in-out forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}

 .logo {
 position: fixed;
 height: 100vh;
 left: 30px;
 top: 0;
 background-color:#dde8d2c8;
 /* opacity: 0.5; */
 width: 202px;
}

.logo img {
 width: 100%;
}
/* .img_container {
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
}

.img_container img {
  height: 100%;
  display: block;
  margin: auto;
} */
.spaces {
  min-height: 240px;
  width: 80%;
  right: 10%;
  top: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  z-index: 2;
}

.spaces a {
  background-color: rgba(181, 153, 127, 0.845);
  text-decoration: none;
  color: #272920;
  min-height: 65px;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  cursor: pointer;
  padding: 15px 20px;
  margin: 10px;
  transition: all ease-in-out 200ms;
}

.spaces a:hover {
  transform: translate(-10px, 0);
}

.spaces a h2 {
  font-size: 1.3rem;
  font-weight: bold;
}
@media screen and (max-width: 568px) {
  .spaces {
    top: 10px;
    width:100%;
  }
 .logo {
  display: none;
 }
  .spaces a {
    height: 80px;
    padding:10px;
  }

  .spaces a h2 {
    font-size: 0.9rem;
    width: 80%;
    margin: 5px;
  }

  /* .title h1 {
    font-size: 1.5rem;
  }  */

}

@media screen and (min-width: 768px) {
  .title h1{
    font-size: 2.5rem;
  }
  .title h3 {
    font-size: 2rem;
  }

  .title h5 {
    font-size: 1.5rem;
  }
}