.container {
  height: 100vh;
  margin: auto;
  position: relative;
}

.img_container {
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
}

.img_container img {
  height: 100%;
  display: block;
  margin: auto;
}
.spaces {
  min-height: 240px;
  width: 56%;
  right: 20%;
  top: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.spaces a {
  background-color: rgb(221, 253, 147);
  text-decoration: none;
  color: #272920;
  min-height: 65px;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  cursor: pointer;
  padding: 15px 20px;
  margin: 10px;
  transition: all ease-in-out 200ms;
}

.spaces a:hover {
  transform: translate(-10px, 0);
}

.spaces a h2 {
font-size: 1.3rem;
font-weight: bold;
}
 @media screen and (max-width: 568px) {

  .spaces {top:50px;}

  .spaces h2 {
      font-size: 0.9rem;
      padding: 10px 15px;
      width: 80%;
      margin: 5px;
  }
 }