.container{
    width:80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h2 {
    font-size: 2rem;
    color: rgb(48, 74, 13);
    margin: 10px;
    font-weight: bold;
}